/*
company colors: 

blue:
#349dee
rgb(52, 158, 239)

grey:
#515151
rgb(81, 81, 81)

white:
#ffffff
rgb(255, 255, 255)
*/

/*generic*/
body, html {
	background: #349dee;
	color: #515151;
}

img, button, .navbar {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
::-moz-selection {
	background: hsl(0, 0%, 90%) !important;
}
::selection {
	background: hsl(0, 0%, 90%) !important;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*big columns*/
.big-col {
	/*padding: 10px;*/
	padding: 0px;
	bottom: 0px;
	/*width: 33% !important;*/
	/*position: absolute;*/
}

.big-col-inner {
	/*background-color: rgba(81, 81, 81, 0.33);*/
	background-color: rgba(52, 158, 239, 0.8); /*#349dee*/
	color: #fff;
	/*border: 4px solid #fff;*/
	border: 4px solid rgba(255, 255, 255, 0.9);
/*	border-right-width: 2px;
	border-left-width: 2px;*/
	/*box-shadow: 12px 12px 0px #515151;*/
	/*margin: 20px;*/
	margin: 0px !important;
	padding: 20px;
	transition: background-color 0.2s linear;
}
.big-col-inner:hover:not(.no-hover), .big-col-inner:not(.no-hover).active {
	/*background-color: #fff;*/
	background-color: rgba(255, 255, 255, 0.9);
	/*border-color: #349dee;*/
	color: #349dee;
	cursor: pointer;
}
.big-col-inner h1 {
	font-size: 200% !important;
}
.btn-primary, .bg-primary {
	background-color: #349dee !important;
}
.text-primary {
	color: #349dee !important;
}

.learn-more-btn {
	text-transform: uppercase;
	background: transparent;
	/*color: #fff;*/
	color: rgba(255, 255, 255, 0.9);
	/*border: 2px solid #fff;*/
	border: 2px solid rgba(255, 255, 255, 0.9);
	border-radius: 0px;
	margin-bottom: 20px;
}
.learn-more-btn:hover {
	/*background: #fff;*/
	background: rgba(255, 255, 255, 0.9);
	color: #515151;
}

/*headline*/
#headline-div {
	background: #292929 url('../img/stock/cyber-security-1.jpg') no-repeat fixed center;
	color: #fff;
	/*height: 500px;*/
	text-align: center;
	position: relative;
}
#headline-div h1 {
	letter-spacing: 1px;
	font-size: 300%;
}
#headline-div h1 b {
	font-weight: 700;
	text-shadow: 4px 4px 4px #515151;	
}

/*nav*/
.navbar {
	/*background-color: #fff;*/
	background-color: #292929;
	padding-top: 20px;
}
.nav-link {
	color: #fff !important;
}
.nav-link:hover {
	color: #349dee !important;	
}

.navbar input, .navbar .btn-primary {
	border-radius: 0px;
}

/*footer*/
.page-footer {
	color: #fff;
	background-color: #292929;
	/*background-color: #fff;*/
}
.page-footer a {
	color: #349dee;
	font-size: 125%;
}


#social-col .fab {
	transition: color 0.2s linear;
	font-size: 150%;
	color: #fff;
}
#social-col .fab:hover {
	color: #349dee;
}

/*icons*/
.fa-cloud {
	transition: 0.2s ease-in-out;
}
.big-col-inner:hover .fa-cloud, .big-col-inner.active .fa-cloud {
	transform: scale(1.25);
}
.btn:hover .fa-search, .btn:focus .fa-search {
	transform: scale(1.25);	
}
#lock-closed-icon, .extra-server-icon {
	display: none;
}

.big-col-inner p {
	font-size: 150%;
}

input::placeholder {
	color: #999 !important;
}
::-moz-placeholder {
	opacity: 1;
}

.navbar-toggler:focus {
	outline-color: #007bff;
}

.slick-arrow {
	display: none !important;
}
.slider-item {
	background-color: rgba(81, 81, 81, 0.67);
	/*background-color: rgba(255, 255, 255, 0.67);*/
	/*color: #292929;*/
}
.slider-item p {
	font-size: 125%;
	padding-right: 30px;
	padding-left: 30px;
	text-align: left;
}
.slider-img {
	margin: 20px;
	border-radius: 10%;
	/*border: 4px solid #349dee;*/
	border: 4px solid #fff;
	opacity: 0.9;
}

.nav-item {
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
}
.dropdown-menu {
	background: #292929;
	border: 1px solid #fff;
}
.dropdown-item {
	color: #fff !important;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 3px;
}
.dropdown-item:hover {
	color: #349dee !important;
	background: #292929; 
}
#search-form {
	margin-right: 40px;
}


/*media queries*/
@media (max-width: 1200px) { /* bootstrap lg */
	#search {
		width: 100px !important;
	}
}
@media (max-width: 992px) { /* bootstrap md */
	.big-col-inner {
		margin: 5px;
		padding: 5px;
	}
	#search {
		width: 300px !important;
	}

}
@media (max-width: 768px) { /* bootstrap sm */
/*	.slick-arrow {
		display: inline !important;
		padding: 50px;
	}*/
	#slider-cols {
		display: none;
	}
	#headline-slogan {
		margin-top: 75px;
	}
	#search {
		width: 200px !important;
	}
}
@media (max-width: 576px) { /* bootstrap xs */

}
