<footer class="page-footer">
	<br>

	<div class="row container-fluid text-center text-md-left">
		<div id="social-col" class="col-md-4 text-center">

			<h4>SOCIAL</h4>
			{% for item in site.data.social %}
				<a title="{{ item.name }}" href="{{ item.url }}" target="_blank" style="text-decoration: none !important;">
					<i class="{{ item.icon }} fa-2x"></i>
				</a>
				&nbsp;
			{% endfor %}
			
			<br><br>
		</div>
		<div class="col-md-4">
			<!-- <img
					src="{{ site.baseurl }}/assets/images/logo/logo-banner-white.png"
				width="300px">
			<br><br> -->
		</div>
		<div class="col-md-4 text-center">
<!-- 			<h4>STAY IN TOUCH</h4>
			
			<a href="#">Calendar</a>
			
			&nbsp;&nbsp;&nbsp;&nbsp;
			
			<a href="#">Blog</a>
			
			&nbsp;&nbsp;&nbsp;&nbsp;
			
			<a 
				href="{{ site.baseurl }}/contact/index.html"
			>Contact</a> -->

			<br><br>
		</div>
	</div>
	{% if page.active!='Home' %}
	<div class="text-center text-uppercase">
		&copy; Copyright 2019. All Rights Reserved.
		<br><br>
	</div>
	{% endif %}

</footer>