
<!-- Website designed by Justin Golden 
	 https://github.com/justingolden21/ -->

<head>

<title>
	{{ site.title }}
	{% if page.title %}
		- {{ page.title }}
	{% endif %}
</title>

<meta charset="utf-8">
<meta name="title=" content="Triden Group">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Providing cyber security and cloud services">
<meta name="keywords" content="triden group, triden, security, cybersecurity, security services, security solutions, security solutions provider">

<meta name="theme-color" content="#349dee">
<meta name="msapplication-navbutton-color" content="#349dee">
<meta name="apple-mobile-web-app-status-bar-style" content="#349dee">
{% if page.active!='Home' %}
	<link rel="shortcut icon" href="{{ site.baseurl }}./assets/images/logo/logo-shield-square-transparent-64.png">
{% else %}
	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/logo/logo-shield-square-transparent-64.png">
{% endif %}

<!-- fb metadata edited from old website -->
<meta property="og:site_name" content="Triden Group">
<meta property="og:title" content="Where Security Protects Innovation">
<meta property="og:description" content="Providing cyber security and cloud services">
{% if page.active!='Home' %}
	<meta property="og:image" content="{{ site.baseurl }}./assets/images/logo/logo-shield-square-transparent-64.png">
{% else %}
	<meta property="og:image" content="{{ site.baseurl }}/assets/images/logo/logo-shield-square-transparent-64.png">
{% endif %}
<meta property="og:url" content="https://www.tridengroup.com/">

<!-- CDNs: jquery, fontawesome, bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!-- local links -->
{% if page.active!='Home' %}
	<link rel="stylesheet" href="{{ site.baseurl }}./assets/css/common-styles.css">
	<script async type="text/javascript" src="{{ site.baseurl }}./assets/js/common-scripts.js"></script>
{% else %}
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/common-styles.css">
	<script async type="text/javascript" src="{{ site.baseurl }}/assets/js/common-scripts.js"></script>
{% endif %}

<!-- TODO: google analytics -->

</head>