<nav class="navbar fixed-top navbar-lg" role="navigation">
<!-- <nav class="navbar fixed-top navbar-expand-lg" role="navigation"> -->
	<a id="home-img" class="navbar-brand" href="#">
		<img
			{% if page.active!='Home' %}
				src="{{ site.baseurl }}./assets/images/logo/logo-banner-white.svg" onerror="this.onerror=null;this.src='{{ site.baseurl }}./assets/images/logo/logo-banner-white.png';"
			{% else %}
				src="{{ site.baseurl }}/assets/images/logo/logo-banner-white.svg" onerror="this.onerror=null;this.src='{{ site.baseurl }}/assets/images/logo/logo-banner-white.png';"
			{% endif %}

		{% if page.active!='Home' %}
			onclick="window.open('{{ site.baseurl }}./index.html', '_self');"
		{% endif %}
		width="250px">
	</a>

<!-- 			{% if page.active=='Solutions' %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Services
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Architectural Design & Implementation</a>
					<a class="dropdown-item" href="#">Enterprise Risk & Compliance</a>
					<a class="dropdown-item" href="#">Education & Awareness</a>
					<a class="dropdown-item" href="#">Security Program Strategy</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Enterprise Incident Management</a>
					<a class="dropdown-item" href="#">Identity & Access Management</a>
					<a class="dropdown-item" href="#">Threat & Vulnerability Management</a>
					<a class="dropdown-item" href="#">Security & Managed Services</a>
					<a class="dropdown-item" href="#">Public Cloud & Security</a>
				</div>
			</li>
			{% endif %} -->

			{% if page.active!='Home'%}
				<b style="color:#fff">{{page.title}}</b>
			{% endif %}

	<form id="search-form" class="form-inline ml-auto">
		<div class="input-group">
			<input id="search" class="form-control" type="search" placeholder="Search our solutions..." aria-label="Search">
			<div class="input-group-append">
				<button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
			</div>
		</div>
	</form>

	<button id="menu-btn" class="navbar-toggler navbar-dark" type="button" title="Menu" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
		<i id="menu-icon" class="fas fa-bars"></i>
	</button>

	<div class="collapse navbar-collapse" id="navbarContent">
		<ul class="navbar-nav mr-auto">


			<div class="row">
				<div class="col-sm-6 col-md-4">
					<li class="nav-item">
						<a class="nav-link {% if page.active=='Home' %} active {% endif %}"
						{% if page.active!='Home' %}
							href="{{ site.baseurl }}./index.html"
						{% endif %}
						>Home</a>
					</li>
					<!-- <br> -->
				</div>
				<div class="col-sm-6 col-md-4">
					<li class="nav-item">
						<a class="nav-link {% if page.active=='About' %} active {% endif %}"
						{% if page.active!='Home' %}
							href="{{ site.baseurl }}./about/index.html"
						{% else %}
							href="{{ site.baseurl }}/about/index.html"
						{% endif %}
						>About</a>
					</li>
					<!-- <br> -->
				</div>
				<div class="col-sm-6 col-md-4">
					<li class="nav-item">
						<a class="nav-link {% if page.active=='Services' %} active {% endif %}"
						{% if page.active!='Home' %}
							href="{{ site.baseurl }}./services/index.html"
						{% else %}
							href="{{ site.baseurl }}/services/index.html"
						{% endif %}
						>Services</a>
					</li>
					<!-- <br> -->
				</div>
				<div class="col-sm-6 col-md-4">
					<li class="nav-item">
						<a class="nav-link {% if page.active=='Solutions' %} active {% endif %}"
						{% if page.active!='Home' %}
							href="{{ site.baseurl }}./solutions/index.html"
						{% else %}
							href="{{ site.baseurl }}/solutions/index.html"
						{% endif %}
						>Solutions</a>
					</li>
					<!-- <br> -->
				</div>
				<div class="col-sm-6 col-md-4">
					<li class="nav-item">
						<a class="nav-link {% if page.active=='Contact' %} active {% endif %}"
						{% if page.active!='Home' %}
							href="{{ site.baseurl }}./contact/index.html"
						{% else %}
							href="{{ site.baseurl }}/contact/index.html"
						{% endif %}>Contact</a>
					</li>
					<!-- <br> -->
				</div>
				<div class="col-sm-6 col-md-4">
					<li class="nav-item">
						<a class="nav-link {% if page.active=='Support' %} active {% endif %}"
						{% if page.active!='Home' %}
							href="{{ site.baseurl }}./support/index.html"
						{% else %}
							href="{{ site.baseurl }}/support/index.html"
						{% endif %}>Support</a>
					</li>
					<!-- <br> -->
				</div>
			</div>
		</ul>

	</div>
</nav>

{% if page.title %}
	<div class="jumbotron text-center">
		
	<h1><img class="top-logo" src="{{ site.baseurl }}./assets/images/logo/logo-shield-white.svg" onerror="this.onerror=null;this.src='{{ site.baseurl }}./assets/images/logo/logo-shield-white.png';">
		<br><b> {{ page.title }} </b></h1>
	</div>
{% endif %}
