/*
company colors: 

blue:
#349dee
rgb(52, 158, 239)

grey:
#515151
rgb(81, 81, 81)

white:
#ffffff
rgb(255, 255, 255)
*/

/*generic*/
body, html {
	color: #515151;
	overflow-x: hidden;
}

body {
	/*background-color: #d4d4d4;*/
}

img, button, .navbar, br {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
::-moz-selection {
	background: #dbdbdb !important;
}
::selection {
	background: #dbdbdb !important;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.hidden {
	visibility: hidden;
}
.top-logo {
	width: 75px;
}

/*nav*/
.navbar {
	/*background-color: #fff;*/
	background-color: #292929;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.nav-link {
	color: #fff !important;
}
.nav-link:hover, .nav-link.active {
	color: #349dee !important;	
}

.navbar input, .navbar .btn-primary {
	border-radius: 0px;
}

#menu-icon {
	color: #fff;
}

/*footer*/
.page-footer {
	color: #fff;
	background-color: #292929;
}
.page-footer a {
	font-size: 125%;
}

#social-col .fab, #social-col .fas {
	transition: color 0.1s linear;
	-webkit-transition: color 0.1s linear;
	font-size: 150%;
	color: #fff;
}
#social-col .fab:hover, #social-col .fas:hover {
	color: #349dee;
}

input::placeholder {
	color: #999 !important;
}
::-moz-placeholder {
	opacity: 1;
}

.navbar-toggler:focus {
	outline-color: #007bff;
}

.nav-item {
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
}
.dropdown-menu {
	background: #292929;
	border: 1px solid #fff;
}
.dropdown-item {
	color: #fff !important;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 3px;
}
.dropdown-item:hover {
	color: #349dee !important;
	background: #292929; 
}
#search-form {
	margin-right: 40px;
}

#headline-slogan {
	font-size: 250% !important;
}

/*jumbotron*/
.jumbotron h1 {
	color: #fff;
	text-shadow: 2px 2px 2px #515151;
	background-color: rgba(81,81,81,0.1);
	padding: 20px;
}
.jumbotron {
	background-color: #292929;
}

/*main section*/
#main-section {
	margin: 40px;
}
#main-section h2 {
	font-weight: bold;
	font-size: 225%;
	color: #515151;
	padding: 10px;
	letter-spacing: 1px;
}
#main-section .blue {
	color: #349dee;	
}
#main-section p, #main-section li {
	font-weight: lighter;
	font-size: 125%;
	color: #515151;
	padding: 10px;
}
hr {
	border-top: 1.5px solid #aaa;
}

/*clear buttons*/
.clear-btn, .clear-btn-dark {
	text-transform: uppercase;
	background: transparent;
	border-radius: 0px;
}
.clear-btn {
	color: rgba(255, 255, 255, 0.9);
	border: 2px solid rgba(255, 255, 255, 0.9);	
}
.clear-btn-dark {
	color: rgba(81, 81, 81, 0.9);
	border: 2px solid rgba(81, 81, 81, 0.9);	
}
.clear-btn:hover {
	background: rgba(255, 255, 255, 0.9);
	color: #515151;
}
.clear-btn-dark:hover {
	background: rgba(81, 81, 81, 0.9);
	color: #fff;
}

/*icons and links*/
.hover-icon {
	color: #515151 !important;
}
.hover-icon:hover {
	color: #349dee !important;
}
a > i {
	text-decoration: none !important;
}
a, a:hover, a:focus, a:active {
	color: #349dee;
	position: relative;
}

.nav-link, .page-footer a {
	text-decoration: none !important;
}
/*http://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/
.nav-link:before, .page-footer a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #349dee;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
.nav-link:hover:before, .page-footer a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.nav-item.dropdown {
	margin-left: 40px;
}

/*media queries*/
@media (max-width: 1200px) { /* bootstrap lg */
	#search {
		width: 300px !important;
	}
}
@media (max-width: 992px) { /* bootstrap md */
	#search {
		width: 250px !important;
	}
	.disappear-on-md {
		display: none;
	}
}
@media (max-width: 768px) { /* bootstrap sm */
	#slider-cols {
		display: none;
	}
	#headline-slogan {
		margin-top: 75px;
	}
	.navbar {
		padding-bottom: 15px;
	}
	#search-form {
		margin-top: 10px;
	}
	.jumbotron {
		margin-top: 80px;
	}
	.hidden-mobile {
		display: none;
	}
}
@media (max-width: 576px) { /* bootstrap xs */

}
