/*
company colors: 

blue:
#349dee
rgb(52, 158, 239)

grey:
#515151
rgb(81, 81, 81)

white:
#ffffff
rgb(255, 255, 255)
*/

#about-p {
	/*margin: 20px;*/
	margin: 0px;
}

#about-us-div {
	/*background-color: rgba(255,255,255,0.8);*/
	background-color: rgba(81,81,81,0.5);
	border: 2px solid #fff;
	/*color: #515151;*/

	/*padding: 10px;*/
}
#about-us-div h3, #about-us-div p {
	/*background-color: rgba(81,81,81,0.8);*/
	padding: 5px;

	color: #fff;
	text-shadow: 1px 1px 0px #349dee;
}

/*big columns*/
.big-col {
	/*padding: 10px;*/
	padding: 0px;
	bottom: 0px;
	/*width: 33% !important;*/
	/*position: absolute;*/
}

.big-col-inner {
	/*background-color: #fff;*/
	background-color: rgba(255, 255, 255, 0.8);
	color: #349dee;
	/*border: 4px solid #fff;*/
	border: 4px solid rgba(255, 255, 255, 0.8);
/*	border-right-width: 2px;
	border-left-width: 2px;*/
	/*box-shadow: 12px 12px 0px #515151;*/
	/*margin: 20px;*/
	margin: 0px !important;
	padding: 20px;
	transition: background-color 0.2s linear;
	-webkit-transition: background-color 0.2s linear;
}
.big-col-inner:hover:not(.no-hover), .big-col-inner:not(.no-hover).active {
	/*background-color: rgba(81, 81, 81, 0.33);*/

	/*background-color: rgba(52, 158, 239, 0.8); /*#349dee*/*/
	border-color: rgba(52, 158, 239, 0.8); /*#349dee*/
	color: #fff;
	/*border-color: #349dee;*/

	cursor: pointer;
}

.big-col-inner:hover:not(.no-hover) {
	background-color: rgba(52, 158, 239, 0.9); /*#349dee*/
}
.big-col-inner:not(.no-hover).active {
	background-color: rgba(52, 158, 239, 0.7); /*#349dee*/
}

.big-col-inner h1 {
	font-size: 200% !important;
}
.btn-primary, .bg-primary {
	background-color: #349dee !important;
}
.text-primary {
	color: #349dee !important;
}

/*headline*/
#headline-div {

	margin-top: 100px;

	/*background: #292929 url('../images/stock/cyber-security-1.jpg') no-repeat fixed center;*/

	/*background: #292929 url('../images/stock/shield-keyhole.png') no-repeat fixed center;*/
	/*option 2: remember to comment out above line*/
	/*background: #292929 url('../images/logo/logo-shield-white.svg') no-repeat fixed center;*/

	/*border-right: 36px solid #292929;
	border-left: 36px solid #292929;*/

	color: #fff;
	text-align: center;
	position: relative;
}
#headline-div h1 {
	letter-spacing: 1px;
	font-size: 300%;
}
#headline-div h1 b {
	font-weight: 700;
	text-shadow: 2px 2px 2px #515151;
}

#headline-slogan {
	/*like .jumbotron h1 in common-styles.css:*/
	background-color: rgba(81,81,81,0.5);
	padding: 20px;
}

/*icons*/
.fa-cloud {
	transition: 0.25s ease-in-out;
	-webkit-transition: 0.25s ease-in-out;
}
.fa-server {
	transition: margin 0.5s;	
	-webkit-transition: margin 0.5s;	
}
.big-col-inner:hover .fa-cloud, .big-col-inner.active .fa-cloud {
	transform: scale(1.33);
	-webkit-transform: scale(1.33);
}
.btn:hover .fa-search, .btn:focus .fa-search {
	transform: scale(1.25);	
	-webkit-transform: scale(1.25);	
}
#lock-closed-icon, .extra-server-icon {
	display: none;
}

.big-col-inner p {
	font-size: 125%;
}

#about-p {
	font-size: 145%;
}

/*slick*/
.slick-arrow {
	display: none !important;
}
.slider-item {
	margin: 20px;
	margin-left: 25px;
	margin-right: 25px;
	/*old: */
	/*background-color: rgba(81, 81, 81, 0.5);*/

	background-color: transparent;

	/*background-color: rgba(255, 255, 255, 0.67);*/
	/*color: #292929;*/
}
.slider-item h3 {
	font-size: 200%;
/*	color: #349dee;
	text-shadow: 1px 1px 1px #333;*/
}
.slider-item p {
	font-size: 145%;
	padding-right: 30px;
	padding-left: 30px;
	text-align: left;
}
.slider-img {
	margin: 20px;
	/*border-radius: 10%;*/
	/*border: 4px solid #349dee;*/
	
	width: 300px;
	/*border: 4px solid #fff;*/
	

	/*box-shadow: 8px 8px 4px #292929;*/
	opacity: 0.9;
}
/*.slider-item:hover {
	transform: translateY(-4px) scale(1.05);
	-webkit-transform: translateY(-4px) scale(1.05);
	box-shadow: 0px 4px 0px #fff;
	transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
}*/

.learn-more-btn {
	margin-bottom: 20px;
}

.learn-more-btn:focus {
	/*from clear-btn:hover in common-styles.css*/
	background: rgba(255, 255, 255, 0.9);
	color: #515151;
}

#hex-video {
	/*top: 20px;*/
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	background-color: #333; /*color for small amount of time before page loads*/

	opacity: 0.9;
}
body {
	background-color: #333; /*color for small amount of time before page loads*/
}

/*media queries*/
@media (max-width: 1200px) { /* bootstrap lg */

}
@media (max-width: 992px) { /* bootstrap md */
	.big-col-inner {
		margin: 5px;
		padding: 5px;
	}
}
@media (max-width: 768px) { /* bootstrap sm */
	#headline-div {
		margin-top: 160px;
	}
/*	#slider-cols {
		display: none;
	}*/
	#headline-slogan {
		margin-top: 75px;
	}
	#headline-div {
		border-right: 0px solid #292929;
		border-left: 0px solid #292929;
	}
}
@media (max-width: 576px) { /* bootstrap xs */

}