.jumbotron {
	background: #292929 url('../images/stock/services-pen.jpg') no-repeat fixed center;
}

.undraw-img {
	padding-right: 5%;
	padding-top: 20%;
	width: 240px;
}

ul:not(.navbar-nav) {
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 10px;

	/*background-color: #e8e8e8;*/
	font-weight: bold;
	font-size: 115%;

	padding-left: 60px;
	padding-top: 20px;
	padding-bottom: 10px;
}

@keyframes growFontSize {
	0% {
		font-size: 0;
	}
	100% {
		font-size: 1em;
	}
}

/* https://stackoverflow.com/questions/51131818/how-to-vertically-align-detailss-arrow-with-summarys-content */
summary {
	display: flex;
	align-items:center;
}
summary > div {
	width:100%;
}

details {
	display: inline-block;
}
.row > .col-sm-8 details[open] {
	font-weight: bold;
	padding: 5px;
	padding-left: 10px;
}
details[open] {
	animation-name: growFontSize;
	animation-duration: 400ms, 200ms;
	animation-delay: 0ms, 200ms;
}
summary {
	outline: none !important;
	text-align: center;
}
details {
	width: 100% !important;
}
summary h2 {
	background-color: #349dee;
	color: #fff !important;

	border: 2px solid #349dee;
	padding: 20px !important;
	transition: all 0.3s linear;
}
summary:focus h2, details[open] summary h2 {
	background-color: #fff;
	color: #349dee !important;
}
details summary::-webkit-details-marker {
	transform: scale(1.5);
	margin-left: 10px;
	color: #349dee;
	/*display: none !important;*/
}

summary i.fas {
	transition: padding-left 0.4s ease-in-out;
}
summary:hover i.fas {
	padding-left: 40px;
}

details summary::-webkit-details-marker {
	display:none;
}

@media (max-width: 992px) { /* bootstrap md */
	.undraw-img {
		margin: auto;
		width: 40%;
		margin: 10px;
		padding: 10px;
	}
	.col-lg-4 {
		text-align: center;
	}
}
@media (max-width: 1200px) and (min-width: 992px) { /* bootstrap lg and md */
	
}
@media (max-width: 768px) { /* bootstrap sm */
	.undraw-img {
		display: none;
	}


	ul:not(.navbar-nav) {
		margin-left: 0px;
		margin-right: 0px;

		padding-left: 30px;
		padding-top: 10px;
		padding-bottom: 0px;
	}
}