.jumbotron {
	background: #292929 url('../images/stock/services-pen.jpg') no-repeat fixed center;
}
body {
	/*background-color: rgba(81	,81,81,0.8);*/
	/*background-color: #515151;*/
	/*background-color: #aaa;*/
}
.col-lg-6 {
	/*border-bottom: 1px solid #515151;*/

/*	border-left: 1px solid #349dee;
	border-top: 1px solid #349dee;
	background-color: #fff;
	box-shadow: 4px 4px 0px #515151;*/

/*	border-left: 1px solid #349dee;
	border-top: 1px solid #349dee;*/

/*	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;*/
}
#services-div {
/*	border-right: 2px solid #349dee;
	border-bottom: 2px solid #349dee;*/
}

/*.color-box {
	background-color: #515151;
}
.color-box li {
	color: #fff !important;
}*/

#contact-btn {
	/*background-color: #fff;*/
/*	color: #fff;
	border-color: #fff;*/
}
.undraw-img {
/*	padding-right: 80px;
	padding-top: 80px;
	width: 240px;*/

	padding-right: 5%;
	padding-top: 20%;
	/*width: 80%;*/
	width: 240px;
}

ul:not(.navbar-nav) {
	margin: 0;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 10px;
	background-color: #e8e8e8;
}
li {
	padding: 5px !important;
}


/*https://codepen.io/morewry/pen/gbJvy*/
@keyframes invisiblyGrowFontSize {
	0% {
		font-size: 0;
		opacity: 0;
	}
	100% {
		font-size: 1em;
		opacity: 0;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* https://stackoverflow.com/questions/51131818/how-to-vertically-align-detailss-arrow-with-summarys-content */
summary {
	display: flex;
	align-items:center;
}
summary > div {
	width:100%;
}

details {
	display: inline-block;
}
.row > .col-sm-8 details[open] {
	/*background-color: #e8e8e8 !important;*/
	font-weight: bold;
	padding: 5px;
	padding-left: 10px;
}
details[open] {
	animation-name: invisiblyGrowFontSize, fadeIn;
	animation-duration: 400ms, 200ms;
	animation-delay: 0ms, 200ms;
}
summary {
	outline: none !important;
	text-align: center;
}
details {
	width: 100% !important;
}
summary h2 {
	border: 2px solid #349dee;
	padding: 20px !important;
	/*background-color: #515151;*/
}
summary h2:hover, summary:focus h2, details[open] summary h2 {
	/*color: #515151 !important;*/
	/*color: #aaa !important;*/
	background-color: #349dee;
	color: #fff !important;
}
details summary::-webkit-details-marker {
	transform: scale(1.5);
	margin-left: 10px;
	color: #349dee;
	/*display: none !important;*/
}

summary i.fas {
	transition: all 0.4s ease-in-out;
}
/*details:hover i.fas {*/
summary:hover i.fas {
	padding-left: 40px;
	/*transform: scale(1.2);*/
}

@media (max-width: 992px) { /* bootstrap md */
/*	.color-box {
		background-color: inherit;

	}
	.color-box li {
		color: inherit !important;
	}
	.col-lg-6 {
		border-bottom: 1px solid #515151;
	}*/
}
@media (max-width: 1200px) and (min-width: 992px) { /* bootstrap lg and md */
/*	.undraw-img {
		display: none;
	}*/
}
@media (max-width: 768px) { /* bootstrap sm */
/*	.undraw-img {
		display: none;
	}*/
}