.jumbotron {
	background: #292929 url('../images/stock/services-pen.jpg') no-repeat fixed center;
}
body {
	/*background-color: rgba(81,81,81,0.8);*/
	background-color: #515151;
}
.col-md-6 {
	border-left: 1px solid #515151;
	border-top: 1px solid #515151;
	background-color: #fff;
	/*box-shadow: 6px 6px 5px #292929;*/
}