.jumbotron {
	background: #292929 url('../images/stock/services-pen.jpg') no-repeat fixed center;
}
table {
	text-align: center;
	margin: auto;
	width: 60%;
}
td {
	padding-bottom: 20px !important;
}
#spinner {
	display: none;
}

@media (max-width: 768px) { /* bootstrap sm */
	table {
		width: 80%;
	}
}