.tt-menu {
	background-color: #fff;
	color: #515151;
}
.tt-suggestion {
	padding: 10px;
	cursor: pointer;
}
.tt-suggestion.tt-cursor, .tt-suggestion:hover {
	background-color: #349dee;
	color: #fff;
}